body
{
	background-color: #232323;
	margin :0;
	font-family: 'Coiny', cursive ;

}

.square
{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius: 25%;
	transition: all 0.8s;
	-webkit-transition :all 0.8s;
	-moz-transition :all 0.8s;
}
#container
{
	max-width: 600px;
	margin: 20px auto;
	
}


h1
{
	text-align: center;
	color: white;
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

#message
{
	display: inline-block;
	width:20%;
}

#colorDisplay{
	font-size: 200%
}


#stripe
{
	background:white;
	height: 30px;
	text-align: center; 
}

.selected
{
	background:#232323;
	color:white;
}
button
{
	height:100%;
	border:none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.8s;
	-webkit-transition :all 0.8s;
	-moz-transition :all 0.8s;
}
button:hover
{
	color :white;
	background: #232323;
}
p
{
	text-align: center;
}
#copyRight
{
	color: white;
	font-weight: 100;
	font-family: 'serif';
	font-size: 30px;
}



